<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./nav.css">
    <link rel="stylesheet" href="queries.css">
    <title>Biblioteca</title>
</head>
<body>
    <script src="./script.js"></script>
    <script src="./jquery.waypoints.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <header>
        <nav class="sticky">
            <div class="row">
                <img src="./img/logo-removebg-preview.png" alt="logo">
                <input type="text" placeholder="Search">
                <button class="open-button" id="myButton"><a href="/login">Login</a></button>
                <button class="open-button" id="myButton"><a href="/register">signup</a></button>
                </script>
            </div>
        </nav>
        <div class="text-box">
            <h2>Welcome to the<br> world of <span style="color:yellow">biblioteca...</span></h2>
        </div>
    </header>

    

    <section class="data1">
        <div class="row">
            <h2>Browse Genres</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-4">
                <div class="plan-box js--wp-4">
                    <img src="./img/action.png">
                </div>
            </div> 
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                        <div>
                          <img src="./img/adult.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                      <img src="./img/biographies.png">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                        <img src="./img/children.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col span-1-of-4">
                <div class="plan-box js--wp-4">
                  <img src="./img/fantasy.png">  
                </div>
            </div> 
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                        <div>
                         <img src="./img/historic.png">  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                     <img src="./img/horror.png">  
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                    <img src="./img/literary.png">  
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col span-1-of-4">
                <div class="plan-box js--wp-4">
                    <img src="./img/non-fiction.png">
                </div>
            </div> 
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                        <div>
                            <img src="./img/romance.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                        <img src="./img/science.png">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="plan-box">
                    <div>
                        <img src="./img/thriller.png">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="row">
            <h2>Editor's Choice</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-6">
                <div class="line-box js--wp-4">
                    <img src="./gernes/bookimg/39step.jpg">
                </div>
            </div> 
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <div>
                            <img src="./gernes/bookimg/Bleak House.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <img src="./gernes/bookimg/burial.jpg">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <img src="./gernes/bookimg/callof.jpg">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <img src="./gernes/bookimg/Cosmos.jpg">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <img src="./gernes/bookimg/Dracula.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <h2>Trending Books</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-6">
                <div class="line-box js--wp-4">
                    <img src="./gernes/bookimg/EIGHT WHITE NIGHTS.jpg">
                </div>
            </div> 
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <div>
                            <img src="./gernes/bookimg/fotunes.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <img src="./gernes/bookimg/hamlet.jpg">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <img src="./gernes/bookimg/everything i never told you.jpg">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <img src="./gernes/bookimg/good.jpg">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-6">
                <div class="line-box">
                    <div>
                        <img src="./gernes/bookimg/elon.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
    $('.js-sticky').waypoint(function(direction){
        if(direction == "down"){
            $('nav').addClass('sticky')
        }
        else{
            $('nav').removeClass('sticky');
        }
    },{
        offset: '60px;'
    });
    </script>
    
    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li>
                    <!-- <li><a href="#">iOS App</a></li>
                    <li><a href="#">Android App</a></li> -->
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href="#"><ion-icon name="logo-facebook" class="facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-twitter" class="twitter"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-google" class="google"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-instagram" class="instagram"></ion-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>Copyright &copy; 2022 by Biblioteca. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>

